.nav {
  background: #8148ea;
  background: -moz-linear-gradient(left, #8148ea 0%, #174774 1%, #207ce5 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #8148ea), color-stop(1%, #174774), color-stop(100%, #207ce5));
  background: -webkit-linear-gradient(left, #8148ea 0%, #174774 1%, #207ce5 100%);
  background: -o-linear-gradient(left, #8148ea 0%, #174774 1%, #207ce5 100%);
  background: -ms-linear-gradient(left, #8148ea 0%, #174774 1%, #207ce5 100%);
  background: linear-gradient(to right, #8148ea 0%, #174774 1%, #207ce5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8148ea', endColorstr='#207ce5', GradientType=1 ); }

.box_center {
  -webkit-box-shadow: 2px 19px 15px -3px rgba(136, 136, 143, 0.59);
  -moz-box-shadow: 2px 19px 15px -3px rgba(136, 136, 143, 0.59);
  box-shadow: 2px 19px 15px -3px rgba(136, 136, 143, 0.59); }

.button {
  -webkit-box-shadow: 2px 8px 15px 1px rgba(136, 136, 143, 0.75);
  -moz-box-shadow: 2px 8px 15px 1px rgba(136, 136, 143, 0.75);
  box-shadow: 2px 8px 15px 1px rgba(136, 136, 143, 0.75); }

.nav {
  height: 80px;
  width: auto;
  background-color: #174774;
  -webkit-box-shadow: -1px 8px 15px 1px #174774;
  -moz-box-shadow: -1px 8px 15px 1px #160ca8;
  box-shadow: -1px 8px 15px 1px #160ca8; }
  .nav_logo__nav {
    border: 1px solid blanchedalmond; }

.box_center {
  border-radius: 8%;
  margin: auto;
  width: 350px;
  height: 470px;
  margin-top: 60px; }

h2 {
  padding-left: 68px; }

.img {
  width: 158px;
  height: 100px;
  padding-left: 89px;
  margin-bottom: 20px; }

.containerText2 {
  margin: auto;
  padding-left: 24px; }
  .containerText2 ._text2 {
    color: #b3b2af; }

.text1 {
  color: #174774; }

.input {
  border-style: none;
  width: 281px;
  height: 22px;
  margin-left: 30px;
  border-radius: 5px;
  margin-top: 20px;
  background-color: #f0eaea; }

.link1 {
  margin-left: 193px;
  font-size: 12px; }

.link2 {
  margin-left: 32px;
  font-size: 12px; }

.button {
  background-color: #1587d3;
  margin-left: 29px;
  width: 289px;
  height: 37px;
  margin-top: 16px;
  border-radius: 20px;
  border-style: none;
  color: white;
  font-size: 14px;
  margin-bottom: 12px;
  cursor: pointer; }

.text3 {
  color: #b3b2af;
  margin-left: 31px; }

.figure {
  margin: 0; }
